/*        */
/* FOOTER */
/*        */

footer {
    text-align: center;
    padding: 5px;
    border-top: 2px var(--black) solid;
    background-color: var(--light-gray);
    
}

footer a {
    color: blue;
    text-decoration: underline;
}

footer p, footer a {
    font-weight: bold;
    font-size: 1.5rem;
}