nav {
    min-height: 10vh;
    position:sticky;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    border: 2px black solid;
    border-radius: 5px;
    justify-content: space-between;
    /* padding: 10px; */
    /* margin: 2px; */
}

.nav__left {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-self: start;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.nav__left__title h1 {
    align-items: center;
    font-family: pokemonSolid;
    font-size: 3rem;
}

.nav__items {
    flex-grow: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    gap: 5%;
    justify-self: right;
    justify-content: center;
    align-items: center;
}

.nav__items li {
    font-family: pokemonHollow;
    font-size: 2.5rem;
    display: inline-block;
}

.nav__items li:active, .nav__items li:hover, .nav__items .active{
    color: orangered;
    text-decoration: underline;
}

.nav__left__logo img {
    height: 50px;
    width: 50px;
}
