/* MAKE SURE TO FIX CONSISTENCY IN PADDING/TEXT HEIGHT/ETC */
.pokedex {
    justify-content: center;
}

.pokedex__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.pokedex__card__img--front {
    width: 100px;
    height: 100px;
}

.pokedex {
    min-height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.pokedex .pokedex__title {
    width: 100vw;
}