.pokedex__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid var(--red);
    border-radius: 10px;
    width: 250px;
    /* gap: 20px; */
    flex-wrap: wrap;
    padding: 8px 10px 8px 10px;
}

.pokedex__card:hover {
	transform: scale(1.3);
}

main {
    padding: 20px 30px;
    background-color: var(--blue);
	background: transparent;
}

main,footer {
	position: relative;
	z-index: 1;
}

nav {
     z-index: 2;
}

body {
	background-color: var(--blue);
}

.pokedex__card__left__id {
    color: var(--light-gray);
    text-shadow: 1px 0 10px;
}

.pokedex__card__left__name {
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.pokedex__card__left__types {
    padding-top: 40px;
    font-style: italic;
    /* color: rgb(215, 209, 203); */
}

.pokedex__card__img--front {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.pokedex {
    justify-content: center;
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.catchEmAll {
    border-color: var(--green);
}
