@font-face {
    font-family: pokemonHollow;
    src: url(../fonts/Pokemon\ Hollow.ttf);
}

@font-face {
    font-family: pokemonSolid;
    src: url(../fonts/Pokemon\ Solid.ttf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h2 {
    font-size: 18px;
    font-family:fantasy;
    color: black;
}

.pokedex__card {
    padding: 15px;
    text-align: center;
    max-width: 250px;
}

.pokedex__card {
    display: flex;
    flex-direction: row;
}

.pokedex__card p {
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif
}