@font-face {
    font-family: pokemonHollow;
    src: url(../fonts/Pokemon\ Hollow.ttf);
}

@font-face {
    font-family: pokemonSolid;
    src: url(../fonts/Pokemon\ Solid.ttf);
}

:root {
    --black: #000000;
    --white: #ffffff;
    --light-gray: #d7d7db;
    --red: #ff0000;
    --green: #008000;
    --yellow: #FFCB05;
    --blue: #3466AF;
}

* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: var(--yellow);
    font-family: pokemonSolid;
    letter-spacing: 3px;
}

h2 {
    font-size: 2rem;
    font-family:fantasy;
}

p {
    font-size: 1.6rem;
}