.wtp {
    justify-self: center;
    border: 1px black solid;
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.wtp__title {
    font-family: pokemonSolid;
    font-size: 3rem;
}

.wtp__image {
    height: 70vh;
    width: 70vh;
    filter: brightness(0);
}

.wtp__image--reveal {
    animation: i;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes i {
    0% {
        filter: brightness(0%);
    }
    100% {
        filter: brightness(100%);
    }
}
.wtp__searchbar__textfield {
    justify-self: center;
    display: inline-block;
    border: 1px black solid;
    border-radius: 2px;
    background-color: rgb(229, 229, 229);
    padding: 5px;
}