.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75vh;
    overflow: auto;
    --b: 15px;
    /* thickness of the border */
    --c: black;
    /* color of the border */
    --w: 15px;
    /* width of border */


    border: var(--b) solid #0000;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 100.5% 0 / var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 0 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100.5% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100.5% 100.5% / var(--_p);
    background-color: whitesmoke;
    outline: 1px solid var(--black);
    max-width: 1000px;
    height: auto;
    padding: 20px;
    width: 80vw;
    z-index: 1001;
}

.modal__choice {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: none;
    width: 250px;
    height: 250px;
    border-radius: 12px;
    padding: 0;
    transition: transform 0.2s ease;
}

.modal__choice::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
    transition: opacity 0.2s ease;
}

.modal__choice.bulbasaur::before {
    background-image: url('/assets/icons/grass.svg');
}

.modal__choice.charmander::before {
    background-image: url('/assets/icons/fire.svg');
}

.modal__choice.squirtle::before {
    background-image: url('/assets/icons/water.svg');
}

.modal__content h2 {
    font-family: PressStart;
    font-size: 3rem;
    text-align: center;
}

.modal__choice img {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
    transition: transform 0.2s ease;
    margin-top: -10px;
}

.modal__choice p {
    position: absolute;
    z-index: 1;
    font-size: 2rem;
    font-family: 'PressStart';
    text-align: center;
    margin: 0;
    color: black;
    margin-top: 130px;
    margin-left: 10px;
}

.modal__choice:hover::before {
    opacity: 0.9;
}

.modal__choice:hover img {
    transform: scale(1.3);
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.form__nickname input {
    border: 1px solid black;
    font-family: PressStart;
    font-size: 2rem;
    width: 100%;
    padding: 5px 10px;
}