.myPoke {
    justify-content: center;
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.myPoke__card {
    display: flex;
    flex-direction: column;
    height: min-content;
    align-items: center;
    border: 1px solid black;
    --b: 15px;
    /* thickness of the border */
    --c: black;
    /* color of the border */
    --w: 15px;
    /* width of border */


    border: var(--b) solid #0000;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 100.5% 0 / var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 0 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100.5% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100.5% 100.5% / var(--_p);
    background-color: whitesmoke;
    outline: 4px solid var(--black);
    width: 220px;
}

.myPoke__img {
    width: 150px;
    height: 150px;
}

.myPoke__lvl {
    font-family: PressStart;
}

.smoll {
    font-size: 11px;
    font-family: PressStart;
}

.myPoke__name {
    margin-top: 8px;
    font-family: PressStart;
}

.myPoke__hp {
    font-family: PressStart;
    margin: 8px 0;
}

.fill {
    background-color: #ff0000;
    height: 20px;
    padding: 1%;
    text-align: center;
    font-size: 1.6em;
    border-radius: 5px;
    width: 80%;
}

.bar {
    background-color: var(--light-gray);
    width: 100%;
    height: 20px;
    border-radius: 5px;
}

.hp-fill {
    width: calc(100% * 30 / 35);
}