nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px var(--black) solid;
    background-image: linear-gradient(to right, red, yellow);
    padding: 0px 20px;
    z-index: 101;
}

.nav__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav__left__title h1 {
    font-family: pokemonSolid;
    font-size: 2.5rem;
    color: var(--black);
}

.nav__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 9999 !important;
}

.nav__items li {
    font-family: PressStart;
    font-size: 2rem;
}

.nav__items li:active, .nav__items li:hover, .nav__items .active {
    color: var(--white);
}

.nav__items a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav__left__logo img {
    height: 50px;
    width: 50px;
}

.hamburger {
    position: relative;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    nav {
        flex-direction: column;
        padding: 0px 0px 20px 0px;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 2.8rem;
        right: 1rem;
        z-index: 102;
        /* background: linear-gradient(to right, red, yellow); */
        border: none;
        cursor: pointer;
        font-size: 2rem;
    }

    .nav__items {
        position: fixed;
        top: 0;
        right: -105%;
        height: 100vw;
        width: 100vw;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, red, yellow);
        transition: right 0.3s ease-in-out;
        z-index: 9999 !important;
    }

    #menu:target {
        right: 0;
    }


    .close {
        position: relative;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        z-index: 103;
        cursor: pointer;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav {
        flex-direction: column;
        padding: 0 0 20px 0;
    }

    .nav__left {
        flex-direction: row;
        align-items: left;
        font-size: 2rem;
        gap: 0.5rem;
    }

    .hamburger {
        display: none;
    }

    .nav__items p{
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        background: none;
    }

    .nav__items li {
        font-family: PressStart;
        font-size: 1.6rem;
    }

    .close {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1062px) {
    nav {
        flex-direction: row;
        padding: 0px 20px
    }

    .hamburger {
        display: none;
    }

    .nav__items {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        background: none;
    }

    .nav__items li {
        font-family: PressStart;
        font-size: 2rem;
    }

    .close {
        display: none;
    }
}