.pokedex__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
    /*border: 3px solid var(--red);
    border-radius: 10px;*/
    --b: 15px;   /* thickness of the border */
    --c: black;   /* color of the border */
    --w: 15px;  /* width of border */
  

    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 100%    0    / var(--_p),
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 0 0    / var(--_p),
        conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
        background-color: whitesmoke;
    outline: 4px solid var(--red);
    
    width: 250px;
    /* gap: 20px; */
    flex-wrap: wrap;
    padding: 8px 10px 8px 10px;
}

.pokedex__card:hover {
    transform: scale(1.3);
}

main {
    padding: 20px 30px;
    background-color: var(--blue);
    background: transparent;
}

main, footer {
    position: relative;
    z-index: 1;
}

nav {
    z-index: 2;
}

body {
    background-color: var(--blue);
}

.pokedex__card__left__id {
    color: var(--black);
    text-shadow: 1px 0 10px;
}

.pokedex__card__left__name {
    text-transform: capitalize;
    font-family: PressStart;
    font-weight: bold;
    font-size: 1.0rem;
}

.pokedex__card__left__types {
    padding-top: 40px;
    font-style: italic;
    /* color: rgb(215, 209, 203); */
}

.pokedex__card__img--front {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.pokedex {
    justify-content: center;
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.catchEmAll {
    border-color: var(--green);
}

.pokedex__card__left__types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.poketype-bug__poketype {
    display:inline-block;
}

.poketype-fire__poketype {
    display:inline-block;
}

.poketype-flying__poketype {
    display:inline-block;
}

.poketype-dark__poketype {
    display:inline-block;
}

.poketype-dragon__poketype {
    display:inline-block;
}

.poketype-electric__poketype {
    display:inline-block;
}

.poketype-fairy__poketype {
    display:inline-block;
}

.poketype-fighting__poketype {
    display:inline-block;
}

.poketype-ghost__poketype {
    display:inline-block;
}

.poketype-grass__poketype {
    display:inline-block;
}

.poketype-ground__poketype {
    display:inline-block;
}

.poketype-ice__poketype {
    display:inline-block;
}

.poketype-normal__poketype {
    display:inline-block;
}

.poketype-poison__poketype {
    display:inline-block;
}

.poketype-psychic__poketype {
    display:inline-block;
}

.poketype-rock__poketype {
    display:inline-block;
}

.poketype-steel__poketype {
    display:inline-block;
}

.poketype-water__poketype {
    display:inline-block;
}

.types {
    font-size: 1.6rem;
    padding: 3px 3px;
    border-radius: 3px;
}