@font-face {
  font-family: pokemonHollow;
  src: url(/fonts/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: pokemonSolid;
  src: url(/fonts/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: Aldrich;
  src: url(/fonts/Aldrich-Regular.ttf);
}

@font-face {
  font-family: PressStart;
  src: url(/fonts/PressStart2P-vaV7.ttf);
}

:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #333;
  --light-gray: #d7d7db;
  --red: #ac2323;
  --orangered: #ff4400;
  --green: #05d605;
  --yellow: #FFCB05;
  --blue: #4070f4;
}

* {
  font-family: PressStart;
  letter-spacing: 0px;
  font-size: 10px;
  line-height: 1.8;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--yellow);
  font-family: pokemonSolid;
  letter-spacing: 3px;
}

h2 {
  font-size: 2rem;
  font-family: PressStart;
}


h3 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  font-family: PressStart;
}

p {
  font-size: 1.6rem;
}