
body {
  background-color: var(--blue);
  background-image: url(../assets/IndieBackgroundFix.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
nav, footer {
  min-height: 5vh;
}
  
strong {
  font-weight: bold;
}

.answer_wron, .wtp__p {
  margin: 0px 10px 0px;
  text-align: center;
}
  
.wtp {
  z-index: 1;
  max-width: 850px;
  background-image: linear-gradient(to bottom, rgb(118, 195, 31) 0%, rgb(72, 197, 170) 50%, rgb(222, 210, 210) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 20px;
  margin-bottom: 40px;
}
  
  
.wtp__form__autocomplete__list {
  z-index: 2;
}

#input__field {
  width: 280px;
}

.input__container {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
  max-width: 500px;
  min-width: 250px;
  box-sizing: border-box;
  /* position: absolute; */
}


.wtp__title {
  z-index: inherit;
  height: 15vh;
  font-family: pokemonSolid;
  font-size: 5rem;
}

  
.wtp__image {
  width: 100%;
  height: auto;
  filter: brightness(0%);
  display: block;
}

.submit, .skip_button, .next {
  max-height: 38px;
}
  
.wtp__image--revealPokemon {
  animation: revealPokemon 5s ease-in-out 0s 1;
  z-index: inherit;
  max-width: 850px;
  min-width: 600px;
}
  
@keyframes revealPokemon {
  0% {
    filter: brightness(0%) !important;
  }
  100% {
    filter: brightness(100%) !important;
  }
}
 

/* Disable selecting of image to make sure you can't cheat */

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}  
  
  
/* AUTOCOMPLETE */

.wtp__form {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding: 20px;
}
  
.wtp__form__input__container {
  position: relative;
  display: inline-block;
}



/* ------------------ */
/* --- doet niks? --- */
/* ------------------ */

.wtp__form__submit, #wtp__form__input__field {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
  
#wtp__form__input__field {
  width: 100%;
  margin-bottom: 20px;
}
  
/* .wtp__form__submit {
  background-color: DodgerBlue;
  color: #fff;
  margin-bottom: 20px;
} */

/* ---------------------------------------------------------- */

button {
  padding: 10px 20px 10px;
  color: white;
  font-family: PressStart;
}

.next {
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  width: 50px;
  width: fit-content;
  /* height: 38px; */
  position: relative;
  max-height: 38px;
}

.pokestat__buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pokestat__buttons a {
  background-color: var(--black);
  /*make it a variable*/
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  padding: 10px 20px 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: 120px;
  /* height: 20px; */
}

/* .wtp_buttons {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: end;
} */

.wtp__form {
  display: flex;
  flex-direction: row;
}


.submit_button {
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  width: 50px;
  width: fit-content;
  /* height: 38px; */
  position: relative;
  max-height: 38px;
}

.submit_button:hover {
  transform: scale(1.2);
}

.submit_button.has-transition {
  transition: transform 250ms ease-out;
}

.skip_button {
  background-color: black;
  border-radius: 4px;
  /* height: 38px; */
  margin-left: 5px;
  cursor: grab;
  position: relative;
}


.next_button {
  background-color: black;
  margin-left: 2px;
  border-radius: 4px;
  height: 30px;
}

.next_button:hover {
  transform: scale(1.2);
}

.skip_button:hover {
  transform: scale(1.2);
}

  
.autocomplete__item {
  /* position: absolute; */
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  bottom: 100%;
  left: 0;
  right: 0;
  
}
  
.autocomplete__item div strong {
  font-size: 1rem;
}
  
.autocomplete__item div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
  
.autocomplete__item div:hover {
  background-color: #e9e9e9;
}
  
.autocomplete__item--active {
  background-color: DodgerBlue !important;
}