<%- include("partials/header") %>
<%- include("partials/nav") %>
<link rel="stylesheet" href="/css/pokedex.css">
    <section id="modal" class="modal">
        <section class="modal__backdrop">

        </section>
        <section class="modal__content">
            <h2>404: Not found</h2>
            <a href="/pokedex">Back to pokedex!</a>

        </section>
    </section>
</body>

</html>