<%- include("partials/header") %>
<%- include("partials/nav") %>
<link rel="stylesheet" href="/css/pokedex.css">
    <section id="modal" class="modal pokedex">
        <section class="modal__backdrop">
            <h1>404: Not Found</h1>
            <a href="/pokedex">Back to pokedex!</a>
        </section>
    </section>
</body>

</html>