</main>
<footer>
    <p> Made by
        <a href="https://github.com/DVdBdev" target="_blank">Dries</a>,
        <a href="https://github.com/StefDB6" target="_blank">Stef</a>,
        <a href="https://github.com/JE2004-png" target="_blank">Jarne</a> &
        <a href="https://github.com/ramzy35" target="_blank">Ramzy</a>
        using <a href="https://pokeapi.co/" target="blank">pokeapi</a>
    </p>
    <p><a href="./sources.html">Sources</a></p>
</footer>

<script src="../pokedex.js"></script>
</body>

</html>