</main>

<footer>
    <p> Made by
        <a href="https://github.com/DVdBdev" target="_blank">Dries</a>,
        <a href="https://github.com/StefDB6" target="_blank">Stef</a>,
        <a href="https://github.com/JE2004-png" target="_blank">Jarne</a> &
        <a href="https://github.com/ramzy35" target="_blank">Ramzy</a>
        using <a href="https://pokeapi.co/" target="blank">pokeapi</a>,
        <a href="./sources.html">Sources</a>
    </p>

    <div class="pokemon-sky">
        <div class="cloud cloud-1"></div>
        <div class="cloud cloud-2"></div>
        <div class="cloud cloud-3"></div>
        <div class="cloud cloud-4"></div>
    </div>
    <div class="trainer1"></div>
    <div class="trainer2"></div>
    <div class="pokemon"></div>
    <div class="pokemon-grass"></div>
</footer>

<% if(currentPage==="wtp" || currentPage==="pokemon" ) { %>
    <%- include("./autoComplete.ejs") %>
        <% } %>

            <script>
                function toggleModal() {
                    document.getElementById('modal').classList.toggle('hidden');
                }
            </script>

            </body>

            </html>