<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <base rel="noopener noreferrer">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/pokedex.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/wtp.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>