<nav class="nav">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="nav__left">
        <a href="#top" class="nav__left__logo"><img src="/assets/pokeball.png " alt="Fetch 'Em All Logo"></a>
        <a href="#top" class="nav__left__title">
            <h1>Fetch 'Em All</h1>
        </a>
    </section>

    <ul class="nav__items">
        <% if (currentPage === "pokedex") { %>
            <a href="#top">
                <li class="active">Pokedex</li>
            </a>
        <% } else { %>
            <a href="/pokedex">
                <li>Pokedex</li>
            </a>
        <% } %>

        <% if (currentPage === "myPokemon") { %>
            <a href="#top">
                <li class="active">My Pokemon</li>
            </a>
        <% } else { %>
            <a href="/myPokemon">
                <li>My Pokemon</li>
            </a>
        <% } %>

        <% if (currentPage === "wtp") { %>
            <a href="#top">
                <li class="active">Who's That Pokemon</li>
            </a>
        <% } else { %>
            <a href="/wtp">
                <li>Who's That Pokemon</li>
            </a>
        <% } %>
    </ul>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</nav>
<main>