<nav class="nav">
    <section class="nav__left">
        <a href="#top" class="nav__left__logo"><img src="/assets/pokeball.png " alt="Fetch 'Em All Logo"></a>
        <a href="#top" class="nav__left__title">
            <h1>Fetch 'Em All</h1>
        </a>
    </section>

    <ul class="nav__items">
        <% if (currentPage === "pokedex") { %>
            <a href="#top">
                <li class="active">Pokedex</li>
            </a>
        <% } else { %>
            <a href="http://localhost:3000/pokedex">
                <li>Pokedex</li>
            </a>
        <% } %>

        <% if (currentPage === "myPokemon") { %>
            <a href="#top">
                <li class="active">My Pokemon</li>
            </a>
        <% } else { %>
            <a href="http://localhost:3000/myPokemon">
                <li>My Pokemon</li>
            </a>
        <% } %>

        <% if (currentPage === "wtp") { %>
            <a href="#top">
                <li class="active">Who's That Pokemon</li>
            </a>
        <% } else { %>
            <a href="http://localhost:3000/wtp">
                <li>Who's That Pokemon</li>
            </a>
        <% } %>
    </ul>
</nav>
<main>
