<nav class="nav">
    <section class="nav__left">
        <a href="#top" class="nav__left__logo"><img src="/assets/pokeball.png " alt="Fetch 'Em All Logo"></a>
        <a href="#top" class="nav__left__title">
            <h1>Fetch 'Em All</h1>
        </a>
    </section>

    <ul class="nav__items">
        <a href="#top">
            <li class="active">Pokedex</li>
        </a>
        <a href="./mypokemon.html">
            <li>My Pokemon</li>
        </a>
        <a href="./wtp.html">
            <li>Who's That Pokemon</li>
        </a>
    </ul>
</nav>
<main>