<nav class="nav">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <section class="nav__left">
        <a href="#top" class="nav__left__logo"><img src="/assets/pokeball.png " alt="Fetch 'Em All Logo"></a>
        <a href="#top" class="nav__left__title">
            <h1>Fetch 'Em All</h1>
        </a>
    </section>

    <ul class="nav__items" id="menu">
        <% if (currentPage === "pokedex") { %>
            <a href="#top">
                <li class="active">Pokedex</li>
            </a>
        <% } else { %>
            <a href="/pokedex">
                <li>Pokedex</li>
            </a>
        <% } %>

        <% if (currentPage === "myPokemon") { %>
            <a href="#top">
                <li class="active">MyPokemon</li>
            </a>
        <% } else { %>
            <a href="/myPokemon">
                <li>MyPokemon</li>
            </a>
        <% } %>

        <% if (currentPage === "wtp") { %>
            <a href="#top">
                <li class="active">WhoThatPokemon</li>
            </a>
        <% } else { %>
            <a href="/wtp">
                <li>WhoThatPokemon</li>
            </a>
        <% } %>

        <a class="close" href="#">
            <span class="material-icons">
              close
            </span>
        </a>
    </ul>

    <a class="hamburger" href="#menu">
        <span class="material-icons">
          menu
        </span>
    </a>
</nav>
<main>